html{
  background-color: #cfcfcf;
}


.main-tab__container{
  flex: 2;
  border-radius: 8px;
}

main{
  padding: 36px;
  display: flex;
  height: 100vh;
  gap: 64px;
}

main > section{
  background-color: #FFF;
  flex: 1;
  border-radius: 16px;
}